body {
    font-family: courier new;
    text-align: justify;
    line-height: 1.25;
    font-size: 14;
  
    background-color: #d1b044;
    color: #333333;
  
    width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: left;
    font-size: 25px;
    margin-left: 75px;
  }

  button {
      width: 200px;
      margin-left: 200px;
      text-align: center;
      background-color: blue;
      font-size: 24px;
      color: rgb(220, 212, 6);
  }