body {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 14;
  
    background-color: #d1b044;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: left;
    font-size: 25px;
    margin-left: 75px;
  }

  section {
      margin-right: 300px;
  }

  button {
      background-color: blue;
      color: rgb(220, 212, 6);
  }